<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="logs/internal-nlog.txt">
  <!--define various log targets-->
<extensions>
	<add assembly="Nlog.RabbitMQ.Target" />
</extensions>
<targets>
		<!---最小配置-->
		<target name="RabbitMQTarget"
					  xsi:type="RabbitMQ"
					  username="guest"
					  password="guest"
					  hostname="localhost"
					  exchange="productservices"
					  exchangeType="topic"
				      topic="productserviceskey"
					  port="5672"
					  vhost="/"
					  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
					  UseLayoutAsMessage="true"/>
  </targets>
  <rules>
	  <!-- <logger name="*" minlevel="Trace" writeTo="RabbitMQTarget" />
   <logger  name="*"  level="Info,Error" writeTo="RabbitMQTarget" /> -->

	  <logger  name="*"  level="Info,Error" writeTo="RabbitMQTarget" />
  </rules>
</nlog>