<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="logs/internal-nlog.txt">
	<!--define various log targets  keepConnection-->
	<targets>
		<!--发送到RabbitMQ-->
		<extensions>
			<add assembly="Nlog.RabbitMQ.Target" />
		</extensions>
		<!---最小配置-->
		<target name="RabbitMQTarget"
					  xsi:type="RabbitMQ"
					  username="guest"
					  password="guest"
					  hostname="172.168.44.33"
					  port="5672"
					  vhost="/"
					  exchange="orderservices"
					  exchangeType="topic"
				      topic="orderservicekey"
					  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
					  UseLayoutAsMessage="true"/>

		<!---文件发送
    <target xsi:type="File" name="allfile" fileName="${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
                 -->

		<!--网络发送
<target name="logstash" xsi:type="Network" address="tcp://127.0.0.1:9900" keepConnection="false"
         layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>-->
	</targets>
	<rules>
		<logger name="*" level="Info,Error" writeTo="RabbitMQTarget" />
	</rules>
</nlog>