<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="logs/internal-nlog.txt">
	<!--define various log targets  keepConnection-->
	<variable name="rmqHost" value="localhost" />
	<variable name="rmqUser" value="guest" />
	<variable name="rmqPassword" value="guest" />
	<variable name="rmqvHost" value="/" />
	
	<!--发送到RabbitMQ-->
	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
	</extensions>
	<targets  async="true">
		<!---最小配置-->
		<target name="RabbitMQTarget"
					  xsi:type="RabbitMQ"
					  username="${rmqUser}"
					  password="${rmqPassword}"
				      hostname="${rmqHost}"
					  port="5672"
					  vhost="${rmqvHost}"
					  exchange="orderservices8"
					  exchangeType="topic"
				      topic="orderservicekey"
				  	  useJSON ="true"  
					  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
					  UseLayoutAsMessage="true" >

					<field key="fieldFromConfig" name="Field From Config" layout="${machinename}"/>
					<field key="EmployeeName" name="Employee Name" layout="Overriden From Config"/>
					<field key="EmployeeID" name="" layout="Overriden From Config"/>
		</target>
		
	</targets>
	<rules>
		<logger name="*" level="Trace" writeTo="RabbitMQTarget" />
	</rules>
</nlog>