<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="logs/internal-nlog.txt">
	<!--发送到RabbitMQ-->
	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
	</extensions>
	<!--define various log targets  keepConnection-->
	<targets>
		<!---最小配置-->
		<target name="RabbitMQTarget"
					  xsi:type="RabbitMQ"
					  username="guest"
					  password="guest"
					  hostname="localhost"
					  port="5672"
					  vhost="/"
					  exchange="internalgateway"
					  exchangeType="topic"
				      topic="internalgatewaykey"
					  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
					  UseLayoutAsMessage="true"/>

     <!---文件发送
     <target xsi:type="File" name="allfile" fileName="${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
                 -->

		<!--使用同步通信(TCP)发送-->
      <!--<target name="microservicelog" xsi:type="Network" address="tcp://127.0.0.1:9900" keepConnection="false"
		layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>-->
	</targets>
	<rules>
		<logger name="*" level="Info,Error" writeTo="RabbitMQTarget" />
	</rules>
</nlog>